<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &Copf;&Popf; | CritiqueMyPic 2021 | By Gaurav Barmola
        </span>

    </div>

</footer>