<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

<body>
    <h1>ALL POSTS</h1>

    <div>
        <a href="/posts/new"> Add a Post</a>
    </div>

    <ul>
        <% for(let post of posts){ %>
            <li>
                <a href="/posts/<%= post._id %> ">
                    <%= post.title %>
                </a>

            </li>
            <% } %>
    </ul>

</body>

</html>