<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Show </title>
</head>

<body>
    <h1>
        <%= post.title %>
    </h1>
    <h3>
        <%= post.description %>
    </h3>

    <p>
        <a href="/posts/<%= post._id %>/edit ">Edit</a>
    </p>
    <p>
    <form action="/posts/<%= post._id %>?_method=DELETE " method="POST">
        <button>Delete Post</button>
    </form>
    </p>
    <footer>
        <a href="/posts">Back to Home</a>
    </footer>


</body>

</html>